.add-btn {
  text-align: right;
}

.container {
  overflow: auto;
}

.navlink {
  color: white !important;
  margin-bottom: 1rem;
}

h1 {
  font-size: 30px !important;
}

.btn-primary {
  background-color: #25316d !important;
  float: right;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #5f6f94 !important;
}

.page-item > button:hover {
  background-color: #25316d !important;
  color: white !important;
}
