.add-btn {
  text-align: right;
}

.container {
  overflow: auto;
}

.navlink {
  color: white !important;
  margin-bottom: 1rem;
}

h1 {
  font-size: 30px !important;
}

.btn-primary {
  background-color: #25316d !important;
  float: right;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #5f6f94 !important;
}

.page-item > button:hover {
  background-color: #25316d !important;
  color: white !important;
}

.gridtable:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.chips {
  outline: none !important;
  border: none !important;
}
.MuiChip-label {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  font-size: 0.8125rem !important;
}

.MuiInputBase-root {
}
