.pagination {
  position: fixed;
  bottom: 25px;
  left: 43% !important;
}

.pagination button {
  color: black;
  padding: 3px !important;
  margin: 10px;
  width: 40px;
}

.pagination span {
  font-size: 15px !important;
}

h1 {
  font-size: 30px !important;
}

.input_container {
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.admin_input {
  display: flex;
  border-radius: 10px;
  text-align: center;
}

input[type] {
  margin-left: 10px;
}

label {
  font-weight: bold;
}

.admin_input > input[type] {
  border-radius: 10px;
  text-align: center;
}

.admin-table > th,
.admin-table > td {
  padding: 9px !important;
}
