.pagination {
  position: fixed;
  bottom: 25px;
  left: 43% !important;
}

.pagination button {
  color: #25316d;
  padding: 3px !important;
  margin: 10px;
  width: 40px;
}

.pagination span {
  font-size: 15px !important;
}

h1 {
  font-size: 30px !important;
}

.input_container {
  margin: 50px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.admin_input {
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}

input[type] {
  margin-left: 10px;
  padding-left: 5px;
}

label {
  font-weight: bold;
}

.admin_input > input[type] {
  border-radius: 10px;
}

.admin-table > th,
.admin-table > td {
  padding: 9px !important;
}

.table-color {
  background-color: #25316d !important;
  color: white;
}

.table-color > th {
  border-color: #5f6f94 !important;
}

.page-item > button:hover {
  background-color: #25316d !important;
  color: white !important;
}
