.input_container {
  margin: 45px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.admin_input {
  display: flex;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0;
}

input[type] {
  margin-left: 10px;
  padding-left: 5px;
}

label {
  font-weight: bold;
}

.admin_input > input[type] {
  border-radius: 10px;
}

.admin-table > th,
.admin-table > td {
  padding: 9px !important;
}

.table-color {
  background-color: #25316d !important;
  color: white;
}

.table-color > th {
  border-color: #5f6f94 !important;
}

.page-item > button:hover {
  background-color: #25316d !important;
  color: white !important;
}

h1 {
  text-align: center;
  margin: 2rem 0 !important;
}

h3 {
  font-size: 20px !important;
  margin-top: 3px;
  font-weight: bold;
  padding: 0.8rem;
}

span {
  font-size: 18px;
  font-weight: normal;
}

.logo {
  font-size: 25px !important;
}

svg {
  cursor: pointer !important;
}

.delete {
  color: red;
  cursor: pointer;
  float: right;
}

.edit {
  float: right;
  color: #31087b;
}

.abort {
  color: #5f6f94;
  cursor: pointer;
}

.logodetail {
  font-size: 30px !important;
  margin: 2px;
}

.deletedetail {
  color: red;
  cursor: pointer;
  float: right;
}

.editdetail {
  float: right;
  color: black;
}

.abortdetail {
  color: #0d6efd;
  cursor: pointer;
}

tr {
  padding: 10px !important;
}

.inner {
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 25px !important;
}

.access {
  color: green !important;
}

.gridtable {
  margin-top: 45px !important;
}

.gridtable:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
